<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>代码记录及测试页面</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/vue.js"></script>
    <script src="../js/comment.js"></script>
    <link rel="stylesheet" href="../css/comment.css">
    <link rel="stylesheet" href="../css/index.css">

</head>


<body>

    <!--头部-->
    <div class="header">
        <div class="hd-top">
            <div class="hd-top-z clear innder">
                <div class="z-left">
                    <a href="#">
                        <img src="../images/WTDdguIWgNsNWtK0Q1Z3.png" alt="VMALL">
                    </a>
                    <em></em>
                    <a href="#">
                        <img src="../images/26d0eb2c-283a-4c7c-a9ba-4a1002271e36.png" alt="华为专区">
                    </a>
                </div>
                <div class="z-middle">
                    <ul class="z-middle-nav">
                        <li class="nav-li">
                            <a href="#"><span>手机</span></a>
                            <div class="nav-home">
                                <div class="nav innder">
                                    <ul>
                                        <li>全部手机</li>
                                        <li>mate</li>
                                        <li>p</li>
                                        <li>nava</li>
                                        <li>华为畅享</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><span>笔记本电脑</span></a></li>
                        <li><a href="#"><span>平板&穿戴</span></a></li>
                        <li><a href="#"><span>智能家居</span></a></li>
                        <li><a href="#"><span>配件</span></a></li>
                        <li><a href="#"><span>企业购</span></a></li>
                    </ul>
                </div>
                <div class="z-right clear">
                    <div class="pos">
                        <input type="search">
                        <img src="../images/search.svg">
                        <div class="search-a">
                            <a href="#"><span>HUAWEI P40</span></a>
                            <a href="#"><span>HUAWEI FreeBuds Pro</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="hd-middle clear">
            <div id="viewpager" class="host" style="height: 600px;">
                <a href="#" class="guest">
                    <img v-for="(item,index) in viewpagerList" :key="index" :src="item" v-show="n == index" @mouseenter="clearGo" @mouseLeave="go" alt="图片">
                </a>
                <ul style="position: absolute; bottom: 30px; left:40%;">
                    <li v-for="(v,i) in viewpagerList" :key="i" style="height: 20px; width: 20px; border:solid 1px black; border-radius: 50%;margin-right: 20px;" :class="n == i ? 'active' : ''"  @mouseenter="clearLiGo(i)"></li>
                </ul>
            </div>
            <!-- <img src="../images/20cbe424-1dae-4e83-814d-7fd90fef923e.jpg" alt="华为超级品牌日-Mate力城市旅行记">
                    <img src="../images/2fe5886e-1011-4c92-b398-f3d1ac007b02.jpg" alt="华为超级品牌日-Mate力城市旅行记-武汉">
                    <img src="../images/12e034cf-85e8-4828-b9c0-b74845c791b6.jpg" alt="华为超级品牌日-Mate力城市旅行记-成都">
                    <img src="../images/873ac070-4554-4f38-b9ee-8d7f39abcbc5.jpg" alt="华为超级品牌日-Mate力城市旅行记-广州">
                    <img src="../images/fdc065f5-0e66-48d9-ab15-4c9075aa83d4.jpg" alt="华为超级品牌日-Mate力城市旅行记-杭州">
                    <img src="../images/c543d6c0-7e2b-4622-b06f-9dbfcffcccf1.jpg" alt="华为超级品牌日-Mate力城市旅行记-洛阳">   -->
        </div>
        <div class="hd-bottom">
            <div class="hd-bottom-category innder">
                <ul>
                    <li><a href="#">Mate力城市旅行记</a></li>
                    <li><a href="#">Mate家族</a></li>
                    <li><a href="#">畅销好物</a></li>
                    <li><a href="#">手机专区</a></li>
                    <li><a href="#">笔记本平板</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--购买时间-->
    <div class="buy">
        <div class="host" style="height: 186px;">
            <img class="guest" src="../images/1cdbe6cb-2cfe-4f35-a882-59f0a328e93f.jpg" alt="购买时间">
        </div>

        <div class="buy-buy">
            <div class="host" style="height:269px;">
                <img class="guest" src="../images/46908fc2-2777-485e-a3c8-70f32595a147.jpg">
            </div>
            <div class="buy-a">
                <a href="#" class="buy-a-one"></a>
                <a href="#" class="buy-a-two a-two-one"></a>
                <a href="#" class="buy-a-two a-two-two"></a>
                <a href="#" class="buy-a-two a-two-three"></a>
                <a href="#" class="buy-a-two a-two-four"></a>
            </div>
        </div>
    </div>

    <!--城市-->
    <div class="city">
        <div class="host" style="height: 150px;">
            <img class="guest" src="../images/38393de4-e7dc-46cf-9d9c-34395995f139.jpg" alt="Mate力城市旅行记">
        </div>
        <a href="#">
            <div class="host" style="height: 560px;">
                <img class="guest" src="../images/a8f19ae3-69b4-4602-b2b5-b26968dd8a0c.png" alt="城市夜未眠">
            </div>

        </a>
        <div class="host" style="height: 51px;">
            <img class="guest" src="../images/fdf6c81c-51d0-4459-8757-ae0612377588.jpg" alt="提示">
        </div>

    </div>

    <!--Mate家族-->
    <div class="mate">
        <div class="host" style="height: 150px;">
            <img class="guest" src="../images/f146478a-dfa8-496e-aa3f-b655a2346c82.jpg" alt="Meta家族">
        </div>

        <div class="mate-buy">
            <div class="host" style="height: 328px;">
                <img class="guest" src="../images/599207a4-25d4-4e26-a8fb-44f652b94ecd.jpg" alt="链接">
            </div>

            <div class="mate-a">
                <a href="#" class="mate-a-one"></a>
                <a href="#" class="mate-a-two"></a>
                <a href="#" class="mate-a-three a-three-one"></a>
                <a href="#" class="mate-a-three a-three-two"></a>

            </div>
        </div>
        <!--Mate家族列表-->
        <div class="mate-list clear innder">
            <div class="mate-list-type">
                <div class="position">
                    <a href="#">
                        <img class="type-img" src="../images/deb848cc-1a5d-4cd8-9c24-39bed09c34df.png"
                            alt="HUAWEI Mate 30E Pro">
                        <p class="type-time">
                            <h3>HUAWEI Mate 30E Pro</h3>
                            <span>麒麟990E 5G旗舰SoC芯片</span>
                        </p>
                        <p class="type-rmb"><img src="../images/rmb.svg" alt="人民币图标">5269起</p>
                        <div class="type-introduce">
                            <div class="type-introduce-one">
                                <span>享12期免息</span>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="mate-list-type">
                <div class="position">
                    <a href="#">
                        <img class="type-img" src="../images/71b165c2-1920-4419-a4b0-840ae8c43d9a.png"
                            alt="HUAWEI MatePad Pro">
                        <p class="type-time">
                            <h3>HUAWEI MatePad Pro</h3>
                            <span> 绚丽全面屏学生平板</span>
                        </p>
                        <p class="type-rmb"><img src="../images/rmb.svg" alt="人民币图标">3799</p>
                        <div class="type-introduce">
                            <div class="type-introduce-one">
                                <span>享3期免息</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mate-list-type">
                <div class="position">
                    <a href="#">
                        <img class="type-img" src="../images/100578d6-7c57-4c13-b601-eeab269a77c4.png"
                            alt="MateBook X Pro 2020款">
                        <p class="type-time">
                            <h3>MateBook X Pro 2020款</h3>
                            <span>3K触控全面屏轻薄本</span>
                        </p>
                        <p class="type-rmb"><img src="../images/rmb.svg" alt="人民币图标">9988</p>
                        <div class="type-introduce">
                            <div class="type-introduce-one">
                                <span>限时直降11元+3期免息</span>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="mate-list-type">
                <div class="position">
                    <a href="#">
                        <img class="type-img" src="../images/3be312ac-e7aa-4712-aa02-b15afd0c1b56.png"
                            alt="Mate 40 RS保时捷设计">
                        <p class="type-time">
                            <h3>Mate 40 RS保时捷设计</h3>
                            <span>10:08限量开售</span>
                        </p>
                        <p class="type-rmb"><img src="../images/rmb.svg" alt="人民币图标">12999</p>
                        <div class="type-introduce">
                            <div class="type-introduce-one">
                                <span>致敬时代</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <!--Mate家族扩展-->
        <div class="mate-extend innder">
            <a href="#" class="mate-extend-a">
                <div class="mate-extend-type">
                    <img class="type-img" src="../images/428_428_92BB096EBEEC6DFEAA6476B9B038BF6CAF61537AB4B9B7CBmp.png"
                        alt="Mate 30 RS 保时捷设计">
                    <p class="type-time">
                    <h4>华为超级快充车载充电器</h4>
                    <span>双USB口同时输出</span>
                    </p>
                    <p class="type-rmb"><img src="../images/RMB-black.svg" alt="人民币图标">12999</p>
                </div>
            </a>
            <a href="#" class="mate-extend-a">
                <div class="mate-extend-type">
                    <img class="type-img" src="../images/428_428_85AC9953DD8C50EC0CD39410FCF9CECFED22418BD094E246mp.png"
                        alt="Mate 40 RS保时捷设计保护壳">
                    <p class="type-time">
                    <h4>Mate 40 RS保时捷设计保护壳</h4>
                    <span>优选真皮 | 轻韧舒适</span>
                    </p>
                    <p class="type-rmb"><img src="../images/RMB-black.svg" alt="人民币图标">12999</p>
                </div>
            </a>
            <a href="#" class="mate-extend-a">
                <div class="mate-extend-type">
                    <img class="type-img" src="../images/428_428_A42E5E9EA162B63488193FC447C4901A0844A19B8B54BDCCmp.png"
                        alt="Mate 40 Pro智能视窗保护套">
                    <p class="type-time">
                    <h4>Mate 40 Pro智能视窗保护套</h4>
                    <span>柔韧PU皮 | 舒适保护手机</span>
                    </p>
                    <p class="type-rmb"><img src="../images/RMB-black.svg" alt="人民币图标">299</p>
                </div>
            </a>
            <a href="#" class="mate-extend-a">
                <div class="mate-extend-type">
                    <img class="type-img" src="../images/428_428_12170915D9063BE7546D4B3C388F6924F7B3CB914473E596mp.png"
                        alt="HUAWEI M-Pen 2手写笔">
                    <p class="type-time">
                    <h4>HUAWEI M-Pen 2手写笔</h4>
                    <span>嵌入式 USB-C | 闪连块充技术</span>
                    </p>
                    <p class="type-rmb"><img src="../images/RMB-black.svg" alt="人民币图标">399</p>
                </div>
            </a>
            <a href="#" class="mate-extend-a">
                <div class="mate-extend-type">
                    <img class="type-img" src="../images/50b86809-56d0-42f4-9a23-423f3d6cbff4.png"
                        alt="Mate 30 RS 保时捷设计">
                    <p class="type-time">
                    <h4>Mate 30 RS 保时捷设计</h4>
                    <span>保时捷超跑基因，臻选皮质</span>
                    </p>
                    <p class="type-rmb"><img src="../images/RMB-black.svg" alt="人民币图标">12999</p>
                </div>
            </a>
        </div>
    </div>

    <!--畅销好物-->
    <div class="Goodies innder">

    </div>

    <!--手机专区-->
    <div class="phone innder">

    </div>

    <!--笔记本&平板-->
    <div class="notebook innder">

    </div>

    <!--智能穿戴-->
    <div class="smart innder">

    </div>

    <!--智慧屏-->
    <div class="wit innder">

    </div>

    <!--更多品类-->
    <div class="category innder">

    </div>

    <!--更多福利-->
    <div class="welfare innder">

    </div>

    <!--翻牌抽奖-->
    <div class="lotto innder">

    </div>

    <!--翻牌抽奖-->
    <div class="footer innder">

    </div>

    <script>
        var lunbo = new Vue({
            el: '#viewpager',
            data: {
                viewpagerList: [
                    "../images/20cbe424-1dae-4e83-814d-7fd90fef923e.jpg",
                    "../images/2fe5886e-1011-4c92-b398-f3d1ac007b02.jpg",
                    "../images/12e034cf-85e8-4828-b9c0-b74845c791b6.jpg",
                    "../images/873ac070-4554-4f38-b9ee-8d7f39abcbc5.jpg",
                    "../images/fdc065f5-0e66-48d9-ab15-4c9075aa83d4.jpg",
                    "../images/c543d6c0-7e2b-4622-b06f-9dbfcffcccf1.jpg"
                ],
                n: 0,
                viewpagerInter: null
            },
            methods: {
                go() {
                    this.viewpagerInter = setInterval(() => {
                        this.n++;
                        if (this.n >= this.viewpagerList.length) {
                            this.n = 0;
                        }
                    }, 5000);
                },
                clearGo() {
                    clearInterval(this.viewpagerInter)
                },
                clearLiGo(i){
                    this.n = i;
                    clearInterval(this.viewpagerInter)
                }
            },
            mounted() {
                this.go()
            },
        })
    </script>
</body>

</html>